https://www.kdnuggets.com/2019/01/vazquez-2018-top-7-python-libraries.html/2

In [5]:
from optimus import Optimus
op = Optimus()

In [9]:
def func(value, arg):
    return "this was a number"
    
# df =op.load.csv("https://raw.githubusercontent.com/ironmussa/Optimus/master/examples/foo.csv")
df = op.load.json("https://raw.githubusercontent.com/ironmussa/Optimus/master/examples/data/foo.json")

In [10]:
df.table()

In [11]:
df.head(5)

[Row(billingId=123, birth='1980/07/07', dummyCol='never', firstName='Luis', id=1, lastName='Alvarez$$%!', price=10, product='Cake'),
 Row(billingId=423, birth='1950/07/08', dummyCol='gonna', firstName='André', id=2, lastName='Ampère', price=8, product='piza'),
 Row(billingId=551, birth='1990/07/09', dummyCol='give', firstName='NiELS', id=3, lastName='Böhr//((%%', price=8, product='pizza'),
 Row(billingId=521, birth='1954/07/10', dummyCol='you', firstName='PAUL', id=4, lastName='dirac$', price=8, product='pizza'),
 Row(billingId=634, birth='1990/07/11', dummyCol='up', firstName='Albert', id=5, lastName='Einstein', price=8, product='pizza')]

In [13]:
new_df = df\
    .rows.sort("product","desc")\
    .cols.lower(["firstName","lastName"])\
    .cols.date_transform("birth", "new_date", "yyyy/MM/dd", "dd-MM-YYYY")\
    .cols.years_between("birth", "years_between", "yyyy/MM/dd")\
    .cols.remove_accents("lastName")\
    .cols.remove_special_chars("lastName")\
    .cols.replace("product","taaaccoo","taco")\
    .cols.replace("product",["piza","pizzza"],"pizza")\
    .rows.drop(df["id"]<7)\
    .cols.drop("dummyCol")\
    .cols.rename(str.lower)\
    .cols.apply_by_dtypes("product",func,"string", data_type="integer")\
    .cols.trim("*")\

In [15]:
new_df.table(7)

----------------------------------------
Exception happened during processing of request from ('127.0.0.1', 49529)
Traceback (most recent call last):
  File "//anaconda/envs/datascience/lib/python3.6/socketserver.py", line 320, in _handle_request_noblock
    self.process_request(request, client_address)
  File "//anaconda/envs/datascience/lib/python3.6/socketserver.py", line 351, in process_request
    self.finish_request(request, client_address)
  File "//anaconda/envs/datascience/lib/python3.6/socketserver.py", line 364, in finish_request
    self.RequestHandlerClass(request, client_address, self)
  File "//anaconda/envs/datascience/lib/python3.6/socketserver.py", line 724, in __init__
    self.handle()
  File "//anaconda/envs/datascience/lib/python3.6/site-packages/pyspark/accumulators.py", line 269, in handle
    poll(accum_updates)
  File "//anaconda/envs/datascience/lib/python3.6/site-packages/pyspark/accumulators.py", line 241, in poll
    if func():
  File "//anaconda/envs/datascience/lib/python3.6/site-packages/pyspark/accumulators.py", line 245, in accum_updates
    num_updates = read_int(self.rfile)
  File "//anaconda/envs/datascience/lib/python3.6/site-packages/pyspark/serializers.py", line 717, in read_int
    raise EOFError
EOFError
----------------------------------------